<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="driver_details.css"> 
</head>
<body>
    <h1>Profit or Loss</h1>
    <h1>Total Cost for the corresponding Schedule <%=scid %> is Rs.<%= cost%></h1>
    <h1>Total Cost earned for the corresponding Schedule<%=scid %> is Rs.<%= cost2%></h1>
    <% if(cost > cost2) { %>
        <p>Loss by <%= loss %> </p>
    <% } else{ %>
        <p>Gain by <%= gain %> </p>
<% } %>
</body>
</html>